*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(-60deg, #ff9768 0%, #9156e1 100%);
}
.calculator{
    margin: 90px auto;
    width: 368px;
    height: 600px;
    box-shadow: 0 14px 28px;
}
.header{
    height: 100px;
    padding-top: 37px;
    padding-bottom: 27px;
    padding-right: 29px;
    padding-left: 29px;
    background-color: #212121;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: right;
}

.account{
    width: 100%;
    background: transparent;
    border: none;
    color: #d93192;
    font-size: 18px;
    text-align: right;
}

.account::placeholder{
    color: #d93192;
}

.result{
    width: 100%;
    margin-top: 18px;
    text-align: right;
    background: transparent;
    border: none;
    font-size: 60px;
    color: #fff;
}

.result::placeholder{
    color: #fff;
}

.main{
    height: 500px;
    display: table;
}
.btn{
    width: 92px;
    height: 92px;
    padding: 39px;
    font-size: 22px;
    color: #212121;
    border: none;
}

.btn:nth-child(17){
    border-bottom-left-radius: 5px;
}

.btn-big{
    position: absolute;
    width: 184px;
    height: 92px;
    padding: 39px;
    font-size: 22px;
    background-color: orange;
    border: none;
    border-bottom-right-radius: 5px;
}

.btn:hover{
    background-color: rgba(173, 153, 163, .2);
}